{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'foods/css/styles.css' %}>
{% endblock css %}

{% block header %}
  <p>상세 보기</p>
{% endblock header %}

{% block content %}
  <h2>{{user.name}}</h2>
  <div>{{user.nation}}  {{user.age}}</div>
  <!--<img src={% get_static_prefix %}{{img_path}}>-->
  <br>
{% endblock content %}

{% block test-container %}
  <div class='btn_list'><a href={% url 'user-list' %}>뒤로</a></div>
  <div class='btn_update'><a href={% url 'user-update' user.id %}>수정</a></div>
  <div class='btn_delete'><a href={% url 'user-delete' user.id %}>삭제</a></div>
{% endblock test-container %}