{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'foods/css/styles.css' %}>
{% endblock css %}

{% block header %}
  <p>상세 보기</p>
{% endblock header %}

{% block content %}
<div class='content'>
  <div class='btn'>
    <div class='btn_list'><a href='{% url 'user-list' %}>목록</a></div>
    <div class='btn_crud'>
      <div class='btn_update'><a href='{% url 'user-update' %}></a></div>
      <div class='btn_delete'><a href='{% url 'user-delete' %}></a></div>
    </div>
  </div>

</div>
{% endblock content %}

{% block test-container %}
  <h2>{{user.name}}</h2>
  <div>{{user.nation}}  {{user.age}}</div>
  <!--<img src={% get_static_prefix %}{{img_path}}>-->
  <br>
  <a href="{% url 'user-list' %}">돌아가기</a>
  <a href='testApp/menu'></a>
{% endblock test-container %}